#title {
  text-align: center;
  font-size: 70px;
  font-family: "Lobster", cursive;
}

span {
  color: red;
}


#imageSteve {
  width: 450px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
}

#paragraph{
    text-align: center;
    border: 1px solid black;
    border-radius: 30px;
    padding: 10px;
    margin: 50px;
    font-size: x-large;
}
